<!--The content below is only a placeholder and can be replaced.-->
<header class="navbar">
  <section class="navbar-section">
    <a href="http://localhost:8080/auth/intro" class="btn btn-link">Intro</a>
    <a href="http://localhost:8080/auth/ac" class="btn btn-link">AC</a>
    <a href="http://localhost:8080/auth/leads" class="btn btn-link">Leads</a>
    <a href="http://localhost:8080/auth/about" class="btn btn-link">About</a>
  </section>
  <section class="navbar-center">
    <a href="/">
      <figure class="avatar avatar-xl" data-initial="GOV" style="background-color: #5755d9;"></figure>
    </a>
  </section>
  <section class="navbar-section">
    <a href="http://localhost:8080/auth/login" class="btn btn-link">Login</a>
    <a href="http://localhost:8000/auth/signup" class="btn btn-link">Signup</a>
    <a href="http://localhost:8080/profile" class="btn btn-link">Profile</a>
    <a (click)="onLogout()" class="btn btn-link">Logout</a>
  </section>
</header>
<div class="container">
  <router-outlet></router-outlet>
</div>



