<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
  <link rel="stylesheet" href="http://unpkg.com/spectre.css/dist/spectre.min.css">
  <link rel="stylesheet" href="https://unpkg.com/spectre.css/dist/spectre-exp.min.css">
  <link rel="stylesheet" href="https://unpkg.com/spectre.css/dist/spectre-icons.min.css">
</head>
<body>
<header class="navbar">
  <section class="navbar-section">
    <a href="http://localhost:8080/auth/intro" class="btn btn-link">Intro</a>
    <a href="http://localhost:8080/auth/ac" class="btn btn-link">AC</a>
    <a href="http://localhost:8080/auth/leads" class="btn btn-link">Leads</a>
    <a href="http://localhost:8080/auth/about" class="btn btn-link">About</a>
  </section>
  <section class="navbar-center">
    <a href="/">
      <figure class="avatar avatar-xl" data-initial="GOV" style="background-color: #5755d9;"></figure>
    </a>
  </section>
  <section class="navbar-section">
    <a href="http://localhost:8080/auth/login" class="btn btn-link">Login</a>
    <a href="http://localhost:8000/auth/signup" class="btn btn-link">Signup</a>
  </section>
</header>
<div class="columns">

  <div class="col-4">
  </div>
  <div class="col-4">
    <p>1) Application must be free of all code injection vulnerabilities. [critical]</p>
    <p>2) Confidential data must be encrypted at the rest. [critical]</p>
    <p>3) App must be free of permission bugs. [critical]</p>
    <p>4) Application should be resistant to DDoS attacks. [critical]</p>
    <p>5) Entry to the application can have only registered and approved users. [critical]</p>
    <p>6) Each question must be approved by administrator. [critical]</p>
    <p>7) Only administrator has access to the admin panel. [critical]</p>
    <p>8) Have defence for password brute force attacks. [critical]</p>
    <p>9) Use only approved and safe encryption and hash algorithms. [critical]</p>
    <p>10) Application can't use static or default passwords. [critical]</p>
    <p>11) Back door entries must not exists. [critical]</p>
    <p>13) Audit should exist for all state changes. [critical]</p>
    <p>14) Whitelist all input characters [minor]</p>
    <p>15) When fixing security requirement existing functionality must work correctly. [critical]</p>



  </div>
  <div class="col-4">
  </div>
</div>
</body>
</html>