<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
  <link rel="stylesheet" href="https://unpkg.com/spectre.css/dist/spectre.min.css">
  <link rel="stylesheet" href="https://unpkg.com/spectre.css/dist/spectre-exp.min.css">
  <link rel="stylesheet" href="https://unpkg.com/spectre.css/dist/spectre-icons.min.css">
</head>
<body>
<header class="navbar">
  <section class="navbar-section">
    <a href="http://localhost:8080/auth/intro" class="btn btn-link">Intro</a>
    <a href="http://localhost:8080/auth/ac" class="btn btn-link">AC</a>
    <a href="http://localhost:8080/auth/leads" class="btn btn-link">Leads</a>
    <a href="http://localhost:8080/auth/about" class="btn btn-link">About</a>
  </section>
  <section class="navbar-center">
    <a href="/">
      <figure class="avatar avatar-xl" data-initial="GOV" style="background-color: #5755d9;"></figure>
    </a>
  </section>
  <section class="navbar-section">
    <a href="http://localhost:8080/auth/login" class="btn btn-link">Login</a>
    <a href="http://localhost:8000/auth/signup" class="btn btn-link">Signup</a>
  </section>
</header>
<div class="columns">

  <div class="col-4">
  </div>
  <div class="col-4">


    <p>Learn from web security bugs - django & angular</p>

    <p>You work in world class security agency in defensive-programming department
- one of the most powerful military force and defence around the globe.
Today you have got new assignment. Your agency has been hired by one of the country that belongs to G8 group.
  For security reasons you are not shared any additional information about your client.</p>

    <p>You are given the simple old school web chat application designed from the scratch. The application was designed
  to enable secured and private communication for government top's officials. </p>

    <p>But your spy intelligence department has reported to you that the competetive agency from unfriendly party
intercepted transfer and managed to include unknown number of vulnerabilities, design flaws and backdoors in there so
it will enable to exploit the system and ruin that country.
  The country is now in grave danger. This could lead to world destabilisation and military conflicts.</p>

    <p>They attackers didn't left any trace and reverting is not possible.</p>

    <p>You have to find all vulnerabilities in the application and remove them before deploy otherwise world future safety may be in question.</p>

    <p>You don't have to worry about infrastructure your job is limited only to the web application functionality.</p>

    <p>Should the back to do evaluate of base64 encoded code?</p>

  </div>
  <div class="col-4">
  </div>
</div>
</body>
</html>