<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
  <link rel="stylesheet" href="https://unpkg.com/spectre.css/dist/spectre.min.css">
  <link rel="stylesheet" href="https://unpkg.com/spectre.css/dist/spectre-exp.min.css">
  <link rel="stylesheet" href="https://unpkg.com/spectre.css/dist/spectre-icons.min.css">
</head>
<body>
<header class="navbar">
  <section class="navbar-section">
    <a href="http://localhost:8080/auth/intro" class="btn btn-link">Intro</a>
    <a href="http://localhost:8080/auth/ac" class="btn btn-link">AC</a>
    <a href="http://localhost:8080/auth/leads" class="btn btn-link">Leads</a>
    <a href="http://localhost:8080/auth/about" class="btn btn-link">About</a>
  </section>
  <section class="navbar-center">
    <a href="/">
      <figure class="avatar avatar-xl" data-initial="GOV" style="background-color: #5755d9;"></figure>
    </a>
  </section>
  <section class="navbar-section">
    <a href="http://localhost:8080/auth/login" class="btn btn-link">Login</a>
    <a href="http://localhost:8000/auth/signup" class="btn btn-link">Signup</a>
  </section>
</header>
<div class="columns">

  <div class="col-4">
  </div>
  <div class="col-4">
    <p>1) There is suspicious lead that the passwords may be audited into logs somewhere. - Agent Mike</p>
    <p>2) Source of my investigation revealed that app has secret back door entry. Special http url is used somehow. - Agent Jessy</p>
    <p>3) One of our agents brifelly informed us about authorization bugs in question or answer creation.
      Unfortunately he's been killed in mistirous accident before had chance to pass all information. - Officer Katrine</p>
    <p>4) We got just this: "Where you search you shall find it. Injection is upon us". - Secret Agent 4</p>
    <p>5) Some folks point out that number of questions or answers could cause denial of service. - Agent Mike</p>
  </div>
  <div class="col-4">
  </div>
</div>
</body>
</html>